.main {
    padding: 25px 50px;
    height: 100%;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
}

.wrapper-clocks{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.clock{
    padding: 10px;
    text-align: center;
}
