.main {
    padding: 25px 50px;
    min-height: calc(100vh - 150px);
    background: whitesmoke;
    display: flex;
    flex-direction: column;
}

.wrapper-clocks{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.clock{
    padding: 10px;
    text-align: center;
}
