@import "tailwindcss";

@theme {
    --font-sans: "Roboto", sans-serif;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8fafc;
}

.dark-clock .react-clock__face {
    border-color: white !important;
}
.dark-clock .react-clock__hand__body,
.dark-clock .react-clock__mark__body {
    background-color: white !important;
}
.dark-clock .react-clock__mark__number{
    color: white !important;
}